<div *ngIf="boardId">
  <button class="back-button" (click)="backToBoards()">Back to Boards</button>
  <h1>{{this.boardName}}</h1>
<div class="card-list-container">
  <div class="card-list-group" *ngFor="let cardList of cardLists$ | async">
    <div class="card-list-item">
      <h4 class="card-list-name">{{ cardList.name }}</h4>
      <h4 class="card-count">{{ cardList.cards.length }}</h4>
      <div class="menu-button">
        <button class="menu-button-dots">&#8942;</button>
        <div class="menu">
          <button class="edit-button" (click)="editCardList(cardList)">Edit</button>
          <button class="delete-button" (click)="deleteCardList(cardList.id)">Delete</button>
        </div>
      </div>
    </div>
    <div>
      <button class="add-card-button" (click)="initNewCard(cardList.id)">+ Add new card</button>
    </div>
    <div class="cards-container">
      <div class="card-item" *ngFor="let card of cardList.cards">
        <div class="card-name-menu">
          <div class="card-header" (click)="showCard(card.id)">
            <h4>{{ card.name }}</h4>
          </div>
          <div class="menu-button">
            <button class="menu-button-dots">&#8942;</button>
            <div class="menu">
              <button class="edit-button" (click)="editCard(card)">Edit</button>
              <button class="delete-button" (click)="deleteCard(card.id)">Delete</button>
            </div>
          </div>
        </div>
        <div class="card-content">
          <p class="description">{{ card.description }}</p>
          <p class="due-date">
            <img
              src="https://img2.freepng.ru/20180403/rsq/kisspng-calendar-date-computer-icons-time-calendar-icon-5ac41db68edb81.1459769815228021025852.jpg"
              alt="Calendar Icon" class="calendar-icon" fill>
            Due Date: {{ card.dueDate | date:'EEE, d MMM' }}
          </p>
          <div class="priority-container">
            <div class="priority-icon"></div>
            <p class="priority">{{ card.priorityName }}</p>
          </div>
        </div>
        <div class="card-footer">
          <select class="move-to-dropdown" [(ngModel)]="selectedListId" (change)="moveCardTo(card.id)">
            <option value="" disabled selected>Move to:</option>
            <ng-container *ngFor="let list of cardLists$ | async">
              <option [value]="list.id" *ngIf="list.id !== card.cardListId">{{ list.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-list-add" *ngIf="!cardlistToEdit">
    <button class="card-list-add-button" (click)="initNewCardList()">Add new card</button>
  </div>
  <app-edit-cardlist
    [cardlist]="cardlistToEdit"
    (cardListFormClose)="closeCardListForm()"
  ></app-edit-cardlist>
</div>

<app-edit-card
  [card]="cardToEdit"
  (cardFormClose)="closeCardForm($event)"
></app-edit-card>

<app-card
  [cardId]="cardIdToShow"
  (cardClose) ="closeCard()"
></app-card>
</div>

